<div style="font-size: 110%">
  <p><%= @user.full_name || @user.email %>, напоминание от <%= link_to 'EventsTracker', root_url %>.</p>
  <p style="color: red">
    Событие <%= @event.title %> скоро наступает (время наступления <%= @event.start.to_s %>)
  </p>
</div>