<div class="home-page">
  <h1 class="home-page__header">Добро пожаловать в сервис EventsTracker!</h1>
  <p class="home-page__desc">Данный сервис предоставляет вам возможность создавать и отслеживать события, создавая их и занося в календарь.
    Вы можете создавать события как одиночные, так и повторяющиеся, указав период повтора.
    Удалить можно как одно событие из серии, так и все события серии.
    Используя данный сервис вы можете забыть о бумажном календаре, который, быть может, заполняете, иногда занося 
    одинаковые события с разными датами.

  </p>
  <p class="home-page-links">
    <% if user_signed_in? %>
      <%= link_to 'Перейти к календарю', events_path %>
    <% else %>
      <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <% end %>
  </p>
</div>
