<div class="home-page">
  <h1 class="home-page__header">Welcome to EventsTracker!</h1>
  <p class="home-page__desc">
    This web-service allow you create and track events, using a calendar.
    You are able to creating single events as well as serial ones. There is a possibility to deleting all serial events at once (or only this instance). 
    EventsTracker is the easiest way to get things done!

  </p>
  <p class="home-page-links">
    <% if user_signed_in? %>
      <%= link_to 'Перейти к календарю', events_path %>
    <% else %>
      <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <% end %>
  </p>
</div>
