<h1>New Event</h1>

<!-- <div id="datetimepicker1" class="input-append date">
  <input data-format="dd/MM/yyyy hh:mm" type="text">
  <span class="add-on">
    <i data-time-icon="icon-time" data-date-icon="icon-calendar">fvfv</i>
  </span>
</div>

<div>
  <input type="text" id="1" class="datepicker"></input>
</div> -->
<%= render 'form' %>

<%= link_to 'Back', events_path %>
