.sign-in-form {
  width: 460px;
  margin: 0 auto;
  .list-of-variants {
    margin-top: 26px; 
    .transition-link {
      margin-left: 30px;
    }
  }

  .main-action {
    margin-top: 10px;
  }
  .offset-checkbox {

  }
  .checkbox-label {
    font-size: 140%;
    padding-top: 14px;
    padding-left: 12px;
  }
}

.sign-up-form {
  @extend .sign-in-form;
}

.profile-form {
  @extend .sign-in-form;
}

.descr-label {
  font-size: 110%;
}

.notice-area {
  width: 440px;
  margin: 0 auto;
}

.event-form {
  .offset-radio {

  }
  .second-option {
    margin-top: 18px;
  }
  .periodic-checkbox-wrapper {
    margin-top: 4px;
    margin-bottom: 2px;
  }
}