<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <%= render 'layouts/svg_logo' %>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <%= render 'layouts/menu_for_signed_user' %>
        <% else %>
          <%= render 'layouts/menu_for_guest' %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/nav_links' %>
      </ul>
    </div>
    
  </div>
</div>
