<li><%= link_to 'Calendar', events_path, class: 'list-nav-link' %></li>
<li><a href="javascript:void(0);" id="testLink">Test</a></li>
<!--<li><%#= link_to 'Новое событие', new_event_path, class: 'list-nav-link' %></li>-->